<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prog_mobile.uqac.com.scanmonsters" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanMonsterActivity"
            android:label="@string/title_activity_scan_monster" >
        </activity>
        <activity
            android:name=".authentication.InscriptionActivity"
            android:label="@string/title_activity_inscription" >
        </activity>
        <activity
            android:name=".authentication.ConnectionActivity"
            android:label="@string/title_activity_connection" >
        </activity>
        <activity
            android:name=".OCRActivity"
            android:label="@string/title_activity_tesseract" >
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name=".PlayersBoardActivity"
            android:label="@string/title_activity_players_board" >
        </activity>

        <service
            android:name=".CreatureEventService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
