<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prog_mobile.uqac.com.scanmonsters">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [END gcm_permission] -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_scan_monster"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity
            android:name=".activities.Splash_Screen"
            android:label="@string/title_activity_splash__screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"></activity>
        <activity
            android:name=".activities.ScanMonsterActivity"
            android:label="@string/title_activity_scan_monster"></activity>
        <activity
            android:name=".authentication.InscriptionActivity"
            android:label="@string/title_activity_inscription"></activity>
        <activity
            android:name=".authentication.ConnectionActivity"
            android:label="@string/title_activity_connection"></activity>
        <activity
            android:name=".activities.OCRActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_tesseract"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.CreaturesListActivity"
            android:label="@string/title_activity_creatures_list"></activity>
        <activity
            android:name=".activities.MiniGameActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_mini_game"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.PlayersBoardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_players_board"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.SearchRoomActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_search_room"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.FriendsListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_friends_list"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.SearchFriendsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_search_friend"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.NotificationsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_notifications"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".CreatureEventService"
            android:configChanges="orientation|keyboardHidden"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait"></service>
        <service
            android:name=".services.LocationService"
            android:enabled="true"
            android:exported="true"></service>



        <activity
            android:name=".gcm.GcmActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_notifications"
            android:screenOrientation="portrait"></activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="YOUR_PACKAGE" />

            </intent-filter>
        </receiver>

        <!-- Enables message handling (e.g.detecting different downstream message types,
     determining upstream send status, and automatically displaying simple
     notifications on the app’s behalf) -->

        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- Handles the creation and updating of registration tokens -->

        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- To get the registration token -->

        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" >
        </service>


    </application>

</manifest>
